  <% @page_heading = _('Comments for %s', link_to(@article.title, controller: 'admin/content', action: 'show', id: @article)).html_safe() %>

  <% content_for('tasks') do %>
    <li><%= link_to_permalink @comment, _('View comment on your blog') %></li>
  <% end %>

  <%= form_tag admin_article_comment_path(@article, @comment), { method: :put } do %>

  <h3><%= _("Editing comment") %></h3>
  <div class="form">
    <%= render partial: "form" %>
  </div>

  <div id="operations">
    <%= save %> or <%= cancel %>
  </div>

  <% end %>
