<%= error_messages_for @textfilter %>

<p>
  <label for="textfilter_name"><%= _("Name") %>:</label><br />
  <%= text_field 'textfilter', 'name', :size => 40  %>
</p>
<p>
  <label for="textfilter_description"><%= _("Description") %>:</label><br />
  <%= text_field 'textfilter', 'description', :size => 40  %>
</p>

<label for="markup"><%= _("Markup type") %>:</label><br/>

<select name="textfilter[markup]">
  <% @markup_options.each do |filter| %>
    <option value="<%=h filter[0] %>" <% if @textfilter.markup == filter[0] %>selected<% end %>><%= filter[1] %></option>
  <% end %>
</select>

<br/>
<h4><%= _("Post-processing filters") %></h4>

<table>
  <tbody>
    <% @postprocess_options.sort_by {|f| f[1]}.each do |filter| %>
      <tr>
        <td><input name="filter[<%= filter[0] %>]" type="checkbox" value="1" <% if (filter[3]) %>checked="true"<% end %>/></td>
        <td><label title="<%=h filter[2] %>"><%= filter[1]%></label></td>
        <td><em><%= filter[2]%></em></td>
      </tr>
    <% end %>
  <tbody>
</table>

<h4><%= _("Parameters") %></h4>

<table>
  <tbody>
    <% @filterparams.keys.sort.each do |key| %>
      <tr>
        <td><label for="params[<%= key %>]"  title="<%=h @filterhelp[key] %>"><%= @filterdescriptions[key] %></label></td>
        <% if @filteroptions[key].nil? %>
          <td><input name="params[<%= key %>]" value="<%=h @filterparams[key] %>"/></td>
        <% else %>
          <td>
            <select name="params[<%= key %>]">
              <% for option_text in @filteroptions[key] %>
                <%=
                  opt_as_param       = opt.downcase.gsub(' ', '_')
                  is_selected        = (opt_as_param == @filterparams[key])
                  options            = {}
                  options[:value   ] = opt_as_param
                  options[:selected] = 'selected' if is_selected

                  tag.option(option_text, **options)
                %>
              <% end %>
            </select>
          </td>
        <% end %>
      </tr>
    <% end %>
  <tbody>
</table>

<br clear="all"/>
