<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Typo Administration:  <%= controller.controller_name %></title>
    <meta http-equiv="imagetoolbar" content="no" />
    <%= csrf_meta_tag %>
    <%= stylesheet_link_tag "administration.css" %>
    <%= javascript_include_tag "application" %>
  </head>

  <body>
    <div id="container">
      <div id="header">
        <div id="info">
          <%= current_user_notice %> |
          <%= link_to (_('your blog') + '&raquo;').html_safe, :controller => "/articles" %>
        </div>

        <h1><%= link_to _("Typo admin") + " - #{this_blog&.blog_name}", :controller => "admin/general" %></h1>
      </div>

      <div id="tabs-container">
        <ul id="tabs">
          <%= tab _('Publish' ), controller: 'admin/content',  action: 'new'   %>
          <%= tab _('Manage'  ), controller: 'admin/content',  action: 'index' %>
          <%= tab _('Discuss' ), controller: 'admin/feedback', action: 'index' %>
          <%= tab _('Design'  ), controller: 'admin/themes',   action: 'index' %>
          <%= tab _('Users'   ), controller: 'admin/users',    action: 'index' %>
          <%= tab _('Settings'), controller: 'admin/general',  action: 'index' %>
        </ul>
      </div>

      <div id="overall">
        <% if flash[:notice] or flash[:error] %>
          <div id="flash">
            <%= render_flash %>
          </div>
        <% end %>

        <div id="content">
          <div id="main">
            <h2><%= @page_heading %></h2>
            <% unless ['login', 'signup', 'logout'].include?(action_name) %>
              <div class="tasks">
                <h3><%= _("Things you can do") %></h3>
                <ul>
                  <%= content_for('tasks') %>
                </ul>
                <div style="clear:both;"></div>
              </div>
            <% end %>

            <%= yield %>
          </div>
        </div>
      </div>

      <div id="footer">
        Typo <%=h TYPO_VERSION %>
        with <a href="https://github.com/legacy-icons/famfamfam-silk", target="_blank">Famfamfam iconset</a>
      </div>
    </div>
  </body>
</html>
